@import 'font';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: $f-MRegular, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root > div {
  width: 100%;
  height: 100%;
}

#root{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar{
  padding: 0.5rem 0rem !important;
}
.dropdown{
  a.dropdown-toggle.nav-link{
    color: #707070;
    padding: 0 !important;
  }
}

